INFURA_API_KEY=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
MNEMONIC=test test test test test test test test test test test junk
ETHERSCAN_API_KEY=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
BSC_ETHERSCAN_API_KEY=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
POLYGON_ETHERSCAN_API_KEY=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
ALCHEMY_URL=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz